extends layout

block content
		h1 register
		p Please register using the form below
		form(method='post', action='/users/register', enctype='multipart/form-data')
			.form-group
				label name
				input.form-control(name='email', type='email', placeholder = 'Enter email')
			.form-group
				label Email
				input.form-control(name='name', type='text', placeholder = 'Enter Name')
			.form-group
				label username
				input.form-control(name='username', type='text', placeholder = 'Enter username')
			.form-group
				label password
				input.form-control(name='password', type='password', placeholder = 'Enter password')
			.form-group
				label confirm password
				input.form-control(name='password2', type='password', placeholder = 'Enter confirm password')
			.form-group
				label profile image
				input.form-control(name='profileimage', type='file')
			input.btn.btn-default(name='submit', type='submit', value='Register')
